/**
 * Body
 */
body {
  background-color: $color-grey;
}

/**
 * Sections
 */
section {
  position: relative;
}

.section-padding {
  padding: 4em 0;

  &--lg {
    padding: 6em 0;
  }

  &--sm {
    padding: 2em 0;
  }
}

/**
 * Class Container (BEM)
 */
[class*='__container'] {
  position: relative;
  z-index: 1;
}

/**
 * Blog page
 */
.previews {

  @media (max-width: $mq-md) {
    display: flex;
    flex-direction: column;
  }

  & > * {

    &:first-child {
      position: relative;

      height: 30em;

      background-color: $color-black;

      @media (min-width: $mq-md) {
        position: fixed;
        top: 0;
        left: 0;

        height: 100%;
        width: 45%;
      }

      &:after {
        @extend %overlay;
      }
    }

    &:last-child {
      min-height: 100vh;

      @media (min-width: $mq-md) {
        margin-left: 45%;
      }
    }
  }
}

.image-block-with-desc {
  padding-bottom:0.75em;
  text-align:center;
}

.image-block-with-desc>.image-sec{
  margin-bottom: -0.1em;
}
.image-block-with-desc>.image-sec>img{
  padding:0px;
}

.image-block-with-desc>.desc-sec{
  text-align: center;
  font-size: 0.7em;
  color: grey;
}

.image-block-in-two{
  display:flex;
  justify-content:center;
  align-items:center;
}
center{
	font-size: 0.7em;
  margin-top: -20px;
  margin-bottom: 15px;
}

table{
	font-size:0.7em;
	margin-bottom: 29px;
	border: 2px none #dee0e3;
}

table th {
	background: #cef;
  padding: 5px;
}

.post ul {
  font-size: 0.75em;
  list-style-type: disc;
  padding-left: 16px;
}
.myMJSmall {
	font-size: 0.8em;
}

.image-block-in-three{
  display:flex;
  justify-content:center;
  align-items:center;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -150px;
  opacity: 0;
  transition: opacity 0.3s;
  border: 1px solid #dee0e3;
  box-shadow: 0px 1px 60px 2px grey;
  font-weight: normal;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.text-highlight-background{
  background-color: #fbbfbc;
}